
  
  .msg-box {
    min-height: 2rem;
    margin-top :1rem;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    
    
  }
  
  form button {
    width: 20%;
    background-color: #0069c0;
  }
  
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    width: 100%;
    font-size: 1rem;
    background-color: #29434e;
    color: #fafafa;
    outline: none;
    border: none;
    padding: 0.65rem 10px;
    resize: none;
    
    
  }
  ::placeholder{
    color:#819ca9;
  }
  
  button {
    
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .sendButton {
    
    padding-top:0.5rem;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
    
  .message {
    display: flex;
    align-items: center;
    
  }
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20%;
    
  }
  .msg-bubble {
    max-width: 450px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background:fafafa;
  }
  
  .msg-info-name {
    font-size: 1.5rem;
    margin-right: 10px;
    color: fafafa;
  }
  .msg-info-time {
    font-size: 1rem;
    color: fafafa;
  }
  
  .left-msg .msg-bubble {
    display: inline-block;
    background: #3e4042;
    color: #fff;
    border-bottom-left-radius: 0;
  }
  
  .left-msg .msg-info {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  
  .right-msg .msg-wrapper {
    text-align: right;
    
  }
  
  .right-msg .msg-bubble {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    border-bottom-right-radius: 0;
  }
  
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .right-msg .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
  }
  @media only screen and (max-width: 728px) {
    .msg-bubble {
      max-width: 70vw;
    }
    }
  
#growth{
	overflow-y:scroll;
  height:450px;
}
div::-webkit-scrollbar{
  width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
  background:#fafafa; 
  box-shadow: inset 0 0 2.5px grey;
  border-radius: 10px;
}
 
/* Handle */
div::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 10px; 
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background:  #0069c0; 
}